@import 'Themes.scss';
@import 'Keyboard.scss';

.App-header {
  text-align: center;
  background-color: $background-color;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  padding: 0.5em;
}

.End {
  background-color: $background-color-light;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-color;
  text-align: center;
}

.App {
  background-color: $background-color-light;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-color;
  text-align: center;
  //animation: App-logo-spin infinite 10s cubic-bezier(.68,-0.55,.27,1.55);
}

.App-footer {
  background-color: $background-color;
  min-height: 10.4vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: 0.75em;
  color: $text-color;
}