@mixin activated-background-color($val) {
  @if ($val) {
    background-color: rgb(255, 255, 255);
  } @else {
    background-color: rgb(55, 65, 81);
    border: rgb(168, 165, 165) 2px solid;
  }
}

.Keyboard {
    padding: 1vw 1.5vw;
    @include activated-background-color(true);
    color: rgb(0, 0, 0);
    cursor: pointer;
    //animation: App-button-spin infinite 10s cubic-bezier(.68,-0.55,.27,1.55);
    &:hover {
      transform: translateY(-3px);
      scale: none;
    }
    &:disabled {
      padding: 1vw 1.5vw;
      @include activated-background-color(false);
      color: rgb(255, 255, 255);
      cursor: not-allowed;
      &:hover {
        transform: none;
        scale: none;
      }
    }
  }


  @keyframes App-logo-spin {
    0% {
      transform: rotate(0deg);
      background-color: rgb(238, 82, 134);
    }
    20% {
      background-color: rgb(255, 0, 0);
    }
    40% {
      background-color: rgb(255, 255, 0);
    }
    60% {
      background-color: rgb(0, 255, 255);
    }
    80% {
      background-color: rgb(255, 0, 255);
    }
    100% {
      transform: rotate(360deg);
      background-color: rgb(238, 82, 134);
    }
  }

  @keyframes App-button-spin {
    0% {
      transform: rotate(0deg);
      background-color: rgb(238, 82, 134);
    }
    20% {
      background-color: rgb(255, 0, 0);
    }
    40% {
      background-color: rgb(255, 255, 0);
    }
    60% {
      background-color: rgb(0, 255, 255);
    }
    80% {
      background-color: rgb(255, 0, 255);
    }
    100% {
      transform: rotate(360deg);
      background-color: rgb(238, 82, 134);
    }
  }