button {
    padding: 1vw 1.5vw;
    background-color: rgb(238, 82, 134);
    color: white;
    animation: App-logo-spin infinite 10s cubic-bezier(.68,-0.55,.27,1.55);
  }


  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  